*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}


#buscar{
    margin: 0px 20px;
    width: 200px;
    height: 50px;
}



#sala{
    width: 80px;
    text-align: center;
}


#registros{
    text-align: center;
    width: 80px;
}

#filtros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
}