* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body{
    min-height:1800px ;
}


/* ----------------BOX DE FILTROS-------------- */


#container-tabela{
    visibility: hidden;
    /* min-height: 960px; */
}

.table{
    vertical-align: middle;
    text-align: center;
    --bs-table-bg: none;
}

.g-3, #container-tabela{ 
    background-color: rgba(var(--bs-light-rgb), 1);
    margin-top: 50px !important;
    width: 90%;
    margin: auto;
    border: 1px solid var(--bs-border-color);
    border-radius: 12px;
    padding: 20px;
}

#data-tag{
    margin: 20px 10px;
}

/* BOTOES =========================================== */
.btn{ 
    /* border: none; */
    transition: all 300ms;
}

.btn-primary:hover{
    color: #0d6efd;
}

.btn-danger:hover{
    color: #dc3545;
}

.btn-secondary:hover{
    color: black;
}

.btn:hover,.btn-danger:hover{
    background: transparent;
}




/* MODAL ALERTA ================================= */

#modal-alerta-msg{
    margin: 10;
    font-size: 1.2rem;
}

/* MODAIS EDITAR E CADASTRAR RESERVA */

#sala-dados {
    margin-bottom: 20px;
}

.inp-dados-turma{

    margin-bottom: 10px;
}

.row-btn-check{
    margin-bottom: 20px;
}

#turma-dados{
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    margin-top: 10px;
    padding: 10px;
    height: 66%;
    background-color: #e9ecef;
}

#turma-dados p{
    margin: 0;
    text-align: left;
}


