* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}


/* ----------------BOX DE FILTROS-------------- */

.g-3, #container-tabela{

    background-color: rgba(var(--bs-light-rgb), 1);
}

#container-tabela{
    padding-top: 0px !important;
    text-align: center;
    display: none;
}

.table{
    vertical-align: middle;
    text-align: center;
}


.g-3, #container-tabela{ 
    margin-top: 50px !important;
    width: 90%;
    margin: auto;
    border: 1px solid var(--bs-border-color);
    border-radius: 12px;
    padding: 20px;
}

#data-tag{
    margin: 20px 10px;
    font-weight: bold;
}

.btn{ 
    border: none;
    transition: all 300ms;
}

.btn-primary:hover{
    color: #0d6efd;
}

.btn-danger:hover{
    color: #dc3545;
}

.btn:hover,.btn-danger:hover{
    background: transparent;
}


